#cloud-config

hostname: kube-master-01

disable_root: true

users:
  - default
  - name: barfoo
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: true
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDg+z06lsnTQDGdW2Q3m1MTNLoW9dKOHmGwjTBSnMj/JBkOBx5TEeBuv7IR5K1vkiSVqEsECrz6V6gNAMUb+56jEAsjgkvF/OwDG7g5hwfzDuar64+sQWosPAF0qUDeVd6+LSg/BnxUc4Koj6nUxX/lImyAhXCKTNsYm/LMyBysJeZD01TyHHjoHTmHQyXqSFKoJaFm2i1FBcrmtv/zsoXDKqRNn0Q1vrBYzc9AW92Ecmrnns3MVGW1QXvx3lVNrQ9s2aIyYxfWK2H321Z2eP44g5+UGp3YNBB2U3hUYmtZBjWAXeaKoqdeBO0t2pwpsh33qcdiW+Bmqy7R7x1LF9OX jakoberpf@jakoberpf.de

chpasswd:
  expire: false
  list:
  - ubuntu:$UBUNTU_PASSWORD


## Update apt database and upgrade packages on first boot
package_update: true
package_upgrade: true

packages:
- curl
- wget
- htop

runcmd:
- ln -sfn /run/systemd/resolve/resolv.conf /etc/resolv.conf
- sync
- reboot -f
- modprobe br_netfilter
- echo '1' > /proc/sys/net/bridge/bridge-nf-call-iptables
- sysctl -w net.ipv4.ip_forward=1

device_aliases: {'m2osd1': '/dev/sda'}
disk_setup:
  m2osd1:
    table_type: gpt
    layout: False
    overwrite: True